@media (max-width: 1523px) {
    .content {
        width: 60vw;
    }
    .button {
        font-size: 2.8vw;
    }
    button:hover {
        font-size: 3vw;
    }
    form {
        font-size: 2.1vw;
    }
    input {
        width: 2.5vw;
        height: 2.5vw;
        font-size: 3vw;
    }
    .nick {
        font-size: 5vw;
    }
    .title {
        font-size: 3vw;
    }
}
@media (max-width: 900px) {
    .content {
        border-radius: 0px;
        width: 100vw;
    }
    .button {
        font-size: 4vw;
    }
    button:hover {
        font-size: 4.2vw;
    }
    form {
        font-size: 4vw;
    }
    input {
        width: 6vw;
        height: 4vw;
        font-size: 5vw;
    }
    .nick {
        font-size: 7vw;
    }
    .title {
        font-size: 4vw;
    }
}